.header{
    width: 100%;
    height: 5vh;
    background-color: rgba(150, 150, 150, 0.707);
    display: flex;
    padding: 1vh;

    >a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: x-large;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-right: 2vw;
        margin-left: 2vw;
    }
}

.Cursorbox{
    background-color: yellow;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    >h1{
        font-style: italic;
        font-size: 6vw;
        letter-spacing: 2px;
    }

    >.cursor{
        background-color: rgba(0, 0, 0, 0.702);
        height: 32px;
        width: 32px;
        border-radius: 50%;
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
    }
}

.dragBox{
    position: relative;
    cursor: pointer;
    height: 100vh;
    width: 100%;
    background-color: rgba(9, 8, 8, 0.907);
    margin-top: 100vh;
    overflow: hidden;

    >h1{
        position: absolute;
        left: 50%;
        top: 5%;
        transform: translateX(-50%);
        color: white;
        font-size: 4vw;
        letter-spacing: 4px;
    }

    >.box{
        z-index: 5;
        height: 40vh;
        width: 30vh;
        background-color: rgba(255, 255, 255, 0.506);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 30%;
        border-radius: 30px;
    }

    >.b1{left: 5%;}
    >.b2{left: 30%;}
    >.b3{right:30%;}
    >.b4{right: 5%;}
}

.hscroll{
    height: 120vh;
    overflow: hidden;

    >.blank{
        height: 10vh;
        width: 100%;
        background-color: #000302;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4vw;
    }

    >.hero{
        height: 100vh;
        background-color: #28231D;
        display: flex;
        gap: 10vw;
        width: 250%;
        padding-left: 10vw;
        padding-right: 10vw;


        >.imgBox{
            width: 20%;
            height: 120%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -5vh;

            >img{
                object-fit: cover;
            }

        }
    }
}

.USBox{
    height: 150vh;
    padding-top: 5vh;
    background-color: #000302;

    >h1{
        margin-left: 60%;
        color: white;
        transform: translateX(-50%);
        text-decoration:underline;
        font-size: 3vw;
    }

    >.USBCont{
        display: flex;
        flex-direction: column;
        gap: 5vh;
        justify-content: center;
        align-items: center;
        padding-top: 15vh;

        >.USBB{
            height: 35vh;
            width: 40vw;
            background-color: rgb(108, 169, 148);
        }
    }
}

.TOS{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vh;
    font-family :Arial, Helvetica, sans-serif;
    color: white;
    background-color: #151514;

    >h1{
        font-size: 4vw;
    }

    >h3{
        font-size: 2vw;

        >span{
            color: #19EF97;
        }
    }

    >p{
        width: 40%;
        font-size: 1.5vw;
    }
    >button{
        font-size: 1.5vw;
        padding: 1vw;
        border: none;
        background-color: #19EF97;
    }
}

.GST, .GST2{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: none;
}

.GST2{
    border-top: 1px solid #000;
    justify-content: left;

    >.GST2Box1{
        height: 50vh;
        width: 70vw;
        position: relative;
        margin-left: 15%;
    }

    >.GST2Text{
        position: absolute;
        font-size: 10vw;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 5px;
        white-space: nowrap;
        left: 15%;
        opacity: 0.2;
    }

    >.GST2Text2{
        opacity: 1;
        width: 0%;
        overflow: hidden;
    }
}