.PS{
    height: 95vh;
    background-color: rgb(255, 255, 255);
    width: 100%;
    color : white;
    overflow: hidden;

    >.PsBlank{
        background-color: rgb(0, 0, 0);
        height: 10vh;
        width: 100%;
    }

    >.PsHero{
        background-color: rgb(255, 255, 255);
        height: 75vh;
        width: 100%;
        position: relative;

        >.PSimages{

            >img{
                object-fit: cover;
                height: 60vh;
                width: 30vw ;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }

            >.PSBox{
                position: absolute;
                top: 50%;
                right: 5%;
                text-align: right;
                transform: translateY(-50%);
                color: rgb(0, 0, 0);
                font-size: 6vw;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
            
            >#PSi1{
                left: 10%;
                rotate: -10deg;
            }
            
            >#PSi2{
                left: 30%;
                rotate: 10deg;
            }
        }
    }
}

#PSi1:hover{
    z-index: 1;
}
#PSi2:hover{
    z-index: 1;
}

.M3d{
    height: 100vh;
    width: 100%;
    padding:  0 6.597vw;
    z-index: 10;
    position: relative;
    overflow: hidden;

    >.M3img{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -6.597vw;
        height: 100vh;
        width: 100%;
        z-index: -1;
        top: 0%;
        left: 25%;

        >img{
           position: absolute;
           height: 60vh;
           width: auto;
           transition: transform 0.3s ease-in-out;
           /* filter: grayscale(1); */
           z-index: 28; 
        }

        >img.active{
            z-index: 30;
        }

    }

    >.M3title{
        position: absolute;
        display: block;
        padding-top: 37.77vh;
        padding-bottom: 10vh;
        top: -34%;

        >.Mti{
            >h1{
                display: block;
                font-size: 8vh;
                color: #2d2d2d;
                transition: color 0.1s ease-in-out;
            }
            >h1:hover{
                color: #bababa;
                
            }
        }
    }
}

.TW{
    height: 50vh;
    width: 100%;
    background: #000;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    letter-spacing: 10px;
    transition: all 0.5s;
    cursor: pointer;
    font-weight: 300;
}

.letter:hover{
    font-weight: 900;
}

.letter:hover + .letter{
    font-weight: 700;
}

.letter:hover + .letter + .letter{
    font-weight: 500;
}

.letter:has(+ .letter:hover){
    font-weight: 700;
}

.letter:has(+ .letter + .letter:hover){
    font-weight: 500;
}